body {
  background-color: #302f3b;
}

label {
  color: white;
}

svg {
  width: 100%;
  margin-top: 7vh;
}

path {
  fill: #aaaaaa;
  transition: 0.6s fill;
}

path:hover {
  stroke: #000000;
  stroke-width: 3;
}
